<?xml version="1.0"?>
<Events>
    <Event id="stateChange">
        <Name>Device state change (any)</Name>
        <ConfigUI>
			<Field type="checkbox" id="manualAddress" defaultValue="true">
        		<Label>Trigger on all devices</Label>
    		</Field>
        	<Field id="autolabel" type="label"  visibleBindingId="manualAddress" visibleBindingValue="false">
        		<Label>Enter device address (case-insensitive, use ? and * for wildcard match)</Label>
        	</Field>
    		<Field id="deviceAddress" type="textfield" visibleBindingId="manualAddress" visibleBindingValue="false">
    		</Field>
		</ConfigUI>
    </Event>
    <Event id="statePresent">
        <Name>Device state change to present</Name>
        <ConfigUI>
			<Field type="checkbox" id="manualAddress" defaultValue="true">
        		<Label>Trigger on all devices</Label>
    		</Field>
        	<Field id="autolabel" type="label"  visibleBindingId="manualAddress" visibleBindingValue="false">
        		<Label>Enter device address (use ?* for wildcard match)</Label>
        	</Field>
    		<Field id="deviceAddress" type="textfield" visibleBindingId="manualAddress" visibleBindingValue="false">
    		</Field>
		</ConfigUI>
    </Event>
    <Event id="stateAbsent">
        <Name>Device state change to absent</Name>
        <ConfigUI>
			<Field type="checkbox" id="manualAddress" defaultValue="true">
        		<Label>Trigger on all devices</Label>
    		</Field>
        	<Field id="autolabel" type="label"  visibleBindingId="manualAddress" visibleBindingValue="false">
        		<Label>Enter device address (use ?* for wildcard match)</Label>
        	</Field>
    		<Field id="deviceAddress" type="textfield" visibleBindingId="manualAddress" visibleBindingValue="false">
    		</Field>
		</ConfigUI>
    </Event>
</Events>